
@{
    ViewBag.Title = "空气传感器";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Guid devID = ViewBag.DevID;
    System.Collections.ArrayList retArray = ViewBag.retArray;

    WebPlatform.Models.WebPlatformContext db = new WebPlatform.Models.WebPlatformContext();

    WebPlatform.Models.Device_Info devInfo = db.Device_Info.Find(devID);

    string pm25 = string.Empty;
    string tmp = string.Empty;
    string wet = string.Empty;
    string co2 = string.Empty;
    string tvoc = string.Empty;

    if(retArray.Count>0)
    {
        pm25 = retArray[0].ToString();
        tmp = (Convert.ToDecimal(retArray[1]) / 10).ToString();
        wet = retArray[2].ToString();
        co2 = retArray[3].ToString();
        tvoc = retArray[4].ToString();
    }
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            空气传感器
            <small>@devInfo.DevName</small>
        </h1>
        @*<ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
                <li class="active">控制面板</li>
            </ol>*@
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>@pm25</h3>
                        <p>PM 2.5</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    @*<a href="#" class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@tmp</h3>
                        <p>温度</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    @*<a href="#" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@wet</h3>
                        <p>湿度</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-waterdrop"></i>
                    </div>
                    @*<a href="#" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3>@co2</h3>
                        <p>二氧化碳</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    @*<a href="#" class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            <!-- ./col -->
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>@tvoc</h3>
                        <p>甲醛</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    @*<a href="#" class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></a>*@
                </div>
            </div>
            <!-- ./col -->
        </div>
    </section>
    <!-- /.content -->
</div>
