@model IEnumerable<WebPlatform.Models.Device_Info>

@{
    ViewBag.Title = "设备管理";
    Layout = "~/Views/Shared/_Layout.cshtml";

    WebPlatform.Models.WebPlatformContext db = new WebPlatform.Models.WebPlatformContext();
}

<h2>设备管理</h2>

<p>
    @Html.ActionLink("新建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DevCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DevName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DevType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyJson)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DevCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DevName)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.ParentID)*@
                @if (item.ParentID != Guid.Empty)
                {
                    @db.Device_Info.Find(item.ParentID).DevName
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DevType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PropertyJson)
            </td>
            <td>
                @Html.ActionLink("编辑", "Edit", new { id = item.ID }) |
                @Html.ActionLink("删除", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
