@model WebPlatform.Models.Cloud_YS_User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cloud_YS_User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YsAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YsAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YsPsw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YsPsw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YsAppKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YsAppKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YsSecret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YsSecret)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
