@model IEnumerable<WebPlatform.Models.Cloud_YS_User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    WebPlatform.Models.WebPlatformContext db = new WebPlatform.Models.WebPlatformContext();
}

<h2>子账户分配</h2>

<p>
    @Html.ActionLink("创建", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            帐号
            </th>
        <th>
            @Html.DisplayNameFor(model => model.YsAccount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YsPsw)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YsAppKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YsSecret)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @db.Portal_User.Find(item.UserID).Loginno
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YsAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YsPsw)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YsAppKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YsSecret)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.ID }) |
            @Html.ActionLink("删除", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
