@model WebPlatform.Models.Portal_Customer_Store

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Portal_Customer_Store</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AreaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
