@model WebPlatform.Models.Portal_Auth_Menu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Portal_Auth_Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
