@model WebPlatform.Models.Portal_Customer

@{
    ViewBag.Title = "Delete";
}

<h2>删除</h2>

<h3>确认删除以下信息？</h3>
<div>
    @*<h4>Portal_Customer</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CusCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CusCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CusName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回", "Index")
        </div>
    }
</div>
