@model WebPlatform.Models.Portal_User

@{
    ViewBag.Title = "Delete";
}

<h2>删除</h2>

<h3>确认删除如下信息？</h3>
<div>
    <h4>平台用户</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Loginno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loginno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Loginpsw)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Loginpsw)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsUsed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsUsed)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回", "Index")
        </div>
    }
</div>
