@model IEnumerable<WebPlatform.Models.Portal_Customer_Area>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AreaName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CusID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AreaName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
