
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "荧石设备实时画面多屏设置";

    System.Data.DataTable ysLiveList = ViewBag.ysLiveList;
    int splitNum = ViewBag.splitNum;

    Dictionary<string,string> dicSplit = new Dictionary<string, string>();
}

@using (Html.BeginForm("YSLiveVideoMulti", "Cloud",FormMethod.Post))
{
    <input type="hidden" name="splitNum" value="@splitNum">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">荧石摄像头分屏设置</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body text-center">
                    <div class="row">
                        @for (int i = 0; i < splitNum; i++)
                        {
                            <div class="col-md-4">
                                <div class="small-box bg-aqua">
                                    <div class="inner">
                                        <h3>第 @(i+1) 屏</h3>
                                        <p>
                                            <select name="SEL_@i" class="form-control select2" style="width:200px">
                                                @foreach (System.Data.DataRow dr in ysLiveList.Rows)
                                                {
                                                    if (@dr["status"].ToString() == "1")
                                                    {
                                                        <option value="@dr["deviceSerial"]">@dr["deviceName"]</option>
                                                    }
                                                }
                                            </select>
                                        </p>
                                    </div>
                                    <div class="icon">
                                        <i class="ion ion-android-camera"></i>
                                    </div>
                                    <a href="#" class="small-box-footer"><i class="fa"></i></a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <button type="submit" class="btn btn-block btn-info">确定</button>
        </div>
    </div>
}

